body {
    font-family: Arial, sans-serif;
    background-color: lightpink;
}

.sida{
    margin: 5rem;
}
h1 {
    text-align: center;
    margin-top: 10rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

th {
    background-color: black;
    color: white;
    text-align: left;
    
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

form {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.ram {
    border: 2px solid black;
    background-color: coral;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.ramrubrik {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

button {
    border: 2px solid black;
    background-color: coral;
    padding: 1rem;
    margin: 1rem;
}

.boka:hover {
    border: 2px solid coral;
    background-color: white;
}