body {
    font-family: Arial, sans-serif;
    background-color: lightpink;
}

.sida{
    margin: 5rem;
}
h1 {
    text-align: center;
    margin-top: 10rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

th {
    background-color: black;
    color: white;
    text-align: left;
    
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

.ram {
    border: 2px solid black;
    background-color: lightpink;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ram:hover{
    background-color: #ddd;
}

.ramrubrik {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

button {
    border: 2px solid black;
    background-color: lightpink;
    padding: 1rem;
    margin: 1rem;
    font-weight: bold;
    font-size: larger;
}

.userinput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boka-btn:hover {
    border: 2px solid lightpink;
    background-color: rgb(24, 23, 23);
    color: #ccc;
    font-size: x-large;
}

fieldset {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
}

.tableboka {
    border: 2px solid black;
    background-color: lightpink;
}

.submit {
    display: flex;
    flex-direction: column;
}

.meddelandeform {
    border: 2px solid black;
    background-color: lightpink;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.med-legend {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.ram-med {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
    width: 100%;
}

#meddelande{
    width: 75%;
    padding: 1rem;
    border: 2px solid #ccc;
}